In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [1]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [4]:
df=pd.read_csv('/content/California_housing.csv')
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [13]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [18]:
x=df.drop(['median_house_value', 'ocean_proximity'], axis=1)
y=df['median_house_value']

In [19]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=5)

In [33]:
rg=Ridge(alpha=0.1)
ls=Lasso(alpha=0.01)
en=ElasticNet(alpha=0.1)

In [34]:
from sklearn.metrics import r2_score

In [35]:
rg.fit(x_train, y_train)
pred1=rg.predict(x_test)
print('Ridge: ', r2_score(y_test, pred1))

ls.fit(x_train, y_train)
pred2=ls.predict(x_test)
print('Lasso: ', r2_score(y_test, pred2))

en.fit(x_train, y_train)
pred3=en.predict(x_test)
print('ElasticNet: ', r2_score(y_test, pred3))

Ridge:  0.6299635818290035
Lasso:  0.6299636448699057
ElasticNet:  0.6277915721928414